<!DOCTYPE html>
<head>
<link rel="stylesheet" href="static/basic.css" type="text/css">
</head>
<body>
<h2>SOLIS-VERGARA POULTRY &</h2>
<h2>AGRICULTURAL SUPPLY</h2>

<form method=post action="">
<p>
<table>
  {% for field in form %}
    <tr>
    <td class="name">{{ field.name }}</td>
    <td>{{ field.label }}</td>
    <td>{{ field(size=12) }}</td>
    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
</p>
<p><input type=submit value=Compute></form></p>
<p>
{% if result != None %}
<p><tr><td>Profit = </td><td><input type="text" value={{result}}></form></td></tr></p>
{% endif %}
</p>
</body>
</html>
